{%extends 'base.html' %}
{% block titletab%}<title>about</title>{%endblock%}
{% block content%}
<div class="aboutme">
<h1>
    hello. i am graham.
</h1>
<p>
    i am a mechanical engineer, creator, and learner. 
</p>
<p>
    i am graduating in fall 2020 with a B.S. in Mechanical Engineering from Clemson University. i am hoping to stay at Clemson and pursue a M.S. in Mechanical Engineering. 
</p>
<p>
    after college, i would love to pursue a research-oriented job in the outdoor, nautical, and/or technology industry. i have a huge love for the outdoors and sailing that it would a dream to be able to contribute towards these exciting areas of interest. 
</p>
<p>
    if you would like to contact me or view my content, please check out the contact page or projects page, respectively. i am always learning and making new ideas everyday. scroll below to view my resume. 
</p>
</div>

{%endblock%}

{%block resume%}
<div class="resume">
    <h1>
        resume  
    </h1>

    <div class='education section'>
    <h2>
        education
    </h2>
        <h3>
            Clemson University 
        </h3>
        <p>
            B.S. in Mechanical Engineering / December 2020 / 3.2/4.0 
        </p>
        <h3>
            Tri-County Techanical College
        </h3>
        <p>
            A.S. in General Engineering / Bridge to Clemson Program / May 2017 
        </p>
    </div>
    <div class="work section">
    <h2>
        work experience
    </h2>
        <h3>
            Mechanical Design Engineer - Cooperative Education Intern
        </h3>
        <p>
            Lift Technologies Inc. / May 2018 - December 2019
            <br>
            <br>
            - created detailed and updated prints and models that reflect current changes
            <br>
            - designed a custom fixture for multiple weldment assemblies
            <br>
            - created detailed parts and service manuals for multiple forklift masts
        </p>
        <h3>
            Concierge / Client Relations
        </h3>
        <p>
            Take Cover Storage / May 2019 - present
            <br>
            <br>
            - help maintain and secure a fleet of boats, RVs, and high-end cars 
            <br>
            - develop healthy and friendly relationships with clients
            <br>
            - deliver and pick-up boats at a local boat ramp
            <br>
            - help maintain and upgrade the facility
        </p>

        <h3>
            Resident Assistant 
        </h3>
        <p>
            Bridge to Clemson Program / Clemson University / August 2017 - May 2018
            <br>
            <br>
            - support residents in an apartment building community 
            <br>
            - aid in residents academic and social life
            <br>
            - collaborate with building and local area to host meaningful programs for residents
            <br>
            - foster personal relationships with residents in assigned building
        </p>
        <h3>
            Cabin Counselor 
        </h3>
        <p>
            YMCA Camp Sea Gull and Camp Seafarer / April 2015 - July 2017 [summers]
            <br>
            <br>
            - teach campers certain skillsets to help them for life 
            <br>
            - develop personal relationships between staff and campers
            <br>
            - serve multiple positions in designated activity
            <br>
            - aid in providing a safe and healthy experience for the campers
        </p>
    </div>
    <div class="skills section">
        <h2>
            skills
        </h2>
        <h3>
            drinking milk
        </h3>
    </div>
</div>

{%endblock%}

