{%extends 'base.html' %}
{% block titletab%}<title>Projects</title>{%endblock%}

{% block content%}
<div class="projectcontent">
    <h1>
        Projects
    </h1>

    <p>
        these are a collection of projects i've done or currently updating over the years
    </p>
   
    </div>
</div>
{%endblock%}
{% block project%}{%endblock%}

{%block resume%}
<div class="groupcontent">

  <div class="engineering group">
      <a href='engineering'>engineering</a>
    </div>
    <div class="research group">
        <a href='research'>research</a>
    </div>
    <div class="code group">
        <a href='projectscode'>code</a>
    </div>
    <div class="fun group">
        <a href='fun'>fun</a>
    </div>
    <div class="group group">
        <a href='group'>group</aS>
    </div>
</div>
<div class="extend"></div>
{%endblock%}