{%extends 'base.html' %}
{% block titletab%}<title>projects</title>{%endblock%}

{% block content%}
<div class="projectcontent">
    <h1>
        Projects
    </h1>

    <p>
        these are a collection of projects i've done or currently updating over the years
    </p>
   
    </div>
</div>
{%endblock%}
{%block project%}
<div class="pcon">
    <div class="fill">
    <h1>
        fun
    </h1>
    <p>
        fun content
    </p>
    </div>
</div>
{%endblock%}
{%block resume%}
<div class="groupcontent">

  <div class="school group">
      <a href='school'>school</a>
    </div>
    <div class="research group">
        <a href='research'>research</a>
    </div>
    <div class="code group">
        <a href='code'>code</a>
    </div>
    <div class="fun group">
        <a href='fun'>fun</a>
    </div>
    
</div>
<div class="extend"></div>
{%endblock%}